<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  
  <!-- box shaped table as base for the 2 Pandas -->
  <link name="base">
    <visual>
      <origin xyz="1.0 0 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2.4 1.2 0.6" />
      </geometry>
      <material name="White">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1.0 0 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2.4 1.2 0.6" />
      </geometry>
    </collision>
  </link>


  <!-- left arm with gripper 0 0 ${-pi/4} -->
  <xacro:panda_arm arm_id="panda_1" connected_to="base"  xyz="0 0.3 0.6" />
  <xacro:hand ns="panda_1" rpy="0 0 ${-pi/4}" connected_to="panda_1_link8" />
  
  <!-- right arm with gripper -->
  <xacro:panda_arm arm_id="panda_2" connected_to="base"  xyz="0 -0.3 0.6" />
  <xacro:hand ns="panda_2" rpy="0 0 ${-pi/4}" connected_to="panda_2_link8" />
  
  <xacro:panda_arm arm_id="panda_3" connected_to="base"  xyz="1.6 0 0.6" rpy="0 0 ${pi}" />
  <xacro:hand ns="panda_3" rpy="0 0 ${-pi/4}" connected_to="panda_3_link8" />
  
</robot>

